{% extends "home.html" %} 
{% block url %}<a href="{{ url_for('home') }}" class="text-primary-emphasis">К главной странице!</a>{% endblock url %}
{% block main %}

<div class="d-flex">
  <div class="calendar-wrapper col-3 mx-3">
    <button id="btnPrev" type="button">Предыдущий</button>
    <button id="btnNext" type="button">Следующий</button>
    <div id="divCal"></div>
  </div>

    <div class="accordion container mb-3 col-4" id="accordionExample">
      {% for todo in all_todos %}
      {% if date == todo.when_to_do %}
        <div class="accordion-item mb-3">
          <h2 class="accordion-header">
            <button id="todo-list" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ loop.index }}" aria-expanded="true" aria-controls="collapseOne">
              Задачи на {{ todo.when_to_do }}
              
            </button>
          </h2>
          <div id="{{ loop.index }}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <form action="{{ url_for('delete_todo', pk=todo.id) }}" method="post" enctype="multipart/form-data" class="w-100">
              <button type="submit" class="container-fluid btn btn-lg btn-outline-danger mt-1">Удалить задачу!</button>
            </form>
            <div class="accordion-body">
              <strong>{{ todo.todo }}</strong>
            <br>
              <span>{{ todo.description }}</span>
            </div>
          </div>
        </div>
        {% if empty %}
        <h1 class="h1 text-info-emphasis">Здесь может быть ваша задача</h1>
        {% endif %}
      
      {% endif %}
      
      {% endfor %}
      
    </div>
  <form class="col-4 mx-3 p-3 border border-info-subtle rounded" action="{{ url_for('todo_create') }}" method="post" enctype="multipart/form-data">
    {% if error %}
      <h3 class="h3">{{ error }}</h3>
    {% endif %}
    <div class="input-group mb-3">

      <label for="todo" class="input-group-text" >Надо сделать:</label>
      <input type="text" class="form-control" id="todo" name="todo" required>

    </div>

    <div class="input-group mb-3">

      <label for="desc" class="input-group-text">Описание этой задачи:</label>
      <input type="text" id="desc" name="description" class="form-control" placeholder="не обязательно" id="">

    </div>

    <div class="input-group mb-3">

      <label for="date" class="input-group-text">Когда надо сделать:</label>
      <input type="date" class="form-control" name="date" id="date" required>

      <button type="submit" class="btn btn-info">Прикрепить!</button>

    </div>
  </form>
</div>
<script src="{{ url_for('static', path='/js/calendar.js') }}"></script>
<script src="{{ url_for('static', path='/js/ancor.js') }}"></script>
{% endblock %}
